MONGO_INITDB_ROOT_USERNAME=link_shortener
MONGO_INITDB_ROOT_PASSWORD=link_shortener
MONGO_INITDB_DATABASE=link_shortener
MONGO_PORT=27017

MONGODB_URI=mongodb://link_shortener:link_shortener@localhost:27017/link_shortener?authSource=admin
